/* Media */


@media (max-width: 768px) {

    header {
        overflow: hidden;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    main {
        overflow: hidden;
    }

    .page-header__item--map {
        display: none;
    }

    .page-header__link--phone {
        display: block;
    }

    .page-header__item--button {
        display: block;
    }

    .page-header__button {
        border: none;
        background: transparent;
        cursor: pointer;
        outline: none;
    }

    .deactive {
        display: none;
    }

    .page-header__list {
        max-width: 675px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .page-header__link--tel {
        font-size: 0;
        line-height: 0;
        margin-right: 0px;
    }

    .page-header__link--phone {
        display: block;
    }

    .menu-close {
        display: none;
    }

    .nav-site {
        position: relative;
        top: 0;
        width: 100%;
        height: 200vh;
        background: rgba(37, 4, 4, 0.5);
        z-index: 3;
    }

    .nav-site__icon {
        display: none;
    }

    .nav-site__list {
        position: absolute;
        top: 0;
        width: 100%;
        height: 286px;
        background-color: #ffffff;
        display: block;
        padding: 32px 16px;
        text-align: center;
        z-index: 4;
    }

    .nav-site__item {
        margin-bottom: 24px;
        font-size: 18px;
        line-height: 17px;
    }

    .nav-site__item:focus,
    .nav-site__item:hover {
        color: inherit;
        background-color: transparent;
        padding: 0;
    }

    .nav-site__item:last-of-type {
        margin-bottom: 0;
    }

    .products {
        overflow: visible;
        padding: 70px 0;
    }

    .products__wrapper {
        width: 708px;
        height: auto;
    }

    .products__wrapper::before,
    .products__wrapper::after {
        display: none;
    }

    .card {
        width: 162px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .card__item {
        position: relative;
        padding: 19px 16px;
        background: #ffffff;
    }

    .card:nth-child(3n) {
        margin-right: 20px;
    }

    .card:nth-child(7) {
        margin-left: 0;
    }

    .card:nth-child(4n) {
        margin-right: 0;
    }


    .card__descr {
        font-size: 14px;
        line-height: 13px;
    }

    .card__price--new {
        font-size: 18px;
        line-height: 17px;
    }

    .card__price--old {
        font-size: 14px;
        line-height: 13px;
    }

    .products__button {
        display: none;
    }

    .card__button {
        display: none;
    }

    .products__button--mobile {
        display: block;
        margin: auto;
        width: 270px;
        height: 48px;
        padding: 18px 86px 17px;
        font-size: 14px;
        line-height: 13px;
        font-weight: normal;
        color: #DA1713;
        background: url("../img/buttonMobile.svg") no-repeat;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-clip-path: none;
        clip-path: none;
    }
}

@media (max-width: 425px) {

    .page-header__top {
        height: 60px;
    }

    .page-header__list {
        width: 393px;
    }

    .section-main {
        background: url("../img/bgMobile.jpg") no-repeat;
        background-size: cover;
    }

    .section-main__overlay {
        padding: 64px 16px;
    }

    .section-main__title {
        width: 340px;
        font-size: 28px;
        line-height: 31px;
        margin-bottom: 0;
    }

    .section-main__subtitle {
        font-size: 14px;
        line-height: 13px;
        margin-bottom: 8px;
    }

    .products__wrapper {
        width: 364px;
    }

    .card:nth-child(2n) {
        margin-right: 0;
    }

    .card:nth-child(n+5) {
        display: none;
    }

    .products__title {
        font-size: 28px;
        line-height: 110%;
        width: 343px;
        margin-bottom: 28px;
    }

    .popup-map__item {
        margin-left: -150px;
    }

    .popup-map__item iframe {
        width: 300px;
        height: auto;
    }
}

@media (max-width: 375px) {
    .page-header__list {
        width: 346px;
    }

    .section-main__overlay {
        padding: 64px 50px;
    }

    .products__wrapper {
        width: 344px;
        margin-bottom: 32px;
    }

    .section-main__button {
        width: 170px;
        height: 38px;
        font-size: 14px;
        font-weight: normal;
        line-height: 13px;
        padding: 13px 24px;
    }
}

@media (max-width: 320px) {
    .page-header__list {
        width: 300px;
    }

    .section-main__title {
        width: 300px;
        font-size: 24px;
    }

    .section-main__subtitle {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 8px;
    }

    .products__title {
        font-size: 24px;
        width: 295px;
    }

    .products__wrapper {
        display: block;
        width: 280px;
    }

    .card {
        margin-right: 0;
    }
}