/* Fonts */

@font-face {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../font/GothamPro.woff) format("woff");
}

@font-face {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../font/GothamPro-Bold.woff) format("woff");
}

@font-face {
    font-family: Ponter;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../font/ponter.ttf) format("truetype");
}

/* Global */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 0;
    max-width: 1920px;
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.12em;
    color: #250404;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    border: 0;

    clip: rect(0 0 0 0);
}

.button {
    display: inline-block;
    width: 270px;
    height: 48px;
    padding: 17px 70px 17px;
    font: inherit;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(90.07deg, #FF0500 3.25%, #E20400 100%);
    -webkit-box-shadow: 0 9px 30px rgba(255, 0, 31, 0.2);
    box-shadow: 0 9px 30px rgba(255, 0, 31, 0.2);
    -webkit-clip-path: polygon(7% 0, 100% 0, 100% 65%, 93% 100%, 0 100%, 0 35%);
    clip-path: polygon(7% 0, 100% 0, 100% 65%, 93% 100%, 0 100%, 0 35%);
    -webkit-transition: all .25s cubic-bezier(.02, .01, .47, 1);
    transition: all .25s cubic-bezier(.02, .01, .47, 1);
}

.button:focus,
.button:hover {
    -webkit-transform: translate(0, -6px);
    transform: translate(0, -6px);
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
}

/* Page-header */

header {
    height: 76px;
    font-size: 14px;
    line-height: 13px;
    background-color: #E20400;
    background-image: url("../img/print.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.header__item {
    font-weight: bold;
    color: #ffffff;
}

header a:focus,
header a:hover {
    opacity: 0.7;
}

.header__item--logo {
    width: 129px;
    font-size: 11px;
    line-height: 11px;
    font-weight: normal;
    text-align: center;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}

.header__button,
.header__item--phone {
    display: none;
}

/* Nav */

nav .container {
    max-width: 1216px;
}

nav {
    height: 49px;
}

.nav__icon {
    margin-right: 3px;
    vertical-align: text-bottom;
}

.nav__link {
    height: 100%;
    padding: 17px 23px 17px;
    line-height: 13px;
    vertical-align: text-bottom;
}

.nav__link:focus,
.nav__link:hover {
    color: #ffffff;
    background: linear-gradient(90.07deg, #FF0500 3.25%, #E20400 100%);
}

.nav__link:focus .nav__icon,
.nav__link:hover .nav__icon {
    fill: #ffffff;
}


/* Section-main */

.section-main {
    position: relative;
    width: 100%;
    height: 535px;
    margin-bottom: 112px;
    color: #ffffff;
    background-image: url("../img/bgDesk.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}

.section-main:after {
    position: absolute;
    top: 0;
    content: "";
    width: 100%;
    height: 535px;
    background: linear-gradient(122.99deg, rgba(99, 61, 38, 0) -1.28%, rgba(99, 61, 38, 0.3) 98.43%);
    transform: rotate(-180deg);
}

.section-main .container {
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    z-index: 1;
}

.section-main__title {
    width: 650px;
    margin-bottom: 8px;
    font-family: Ponter, sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
}

.section-main__subtitle {
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 17px;
}

/* Products */

.cards {
    text-align: center;
    margin-bottom: 112px;
}

h1,h2 {
    width: 770px;
    margin: 0 auto 61px;
    font-family: Ponter, sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

.cards .container {
    flex-wrap: wrap;
    margin-bottom: 44px;
    height: 772px;
    align-items: flex-start;
    justify-content: normal;
}

.cards .container::before {
    position: absolute;
    left: -162px;
    bottom: -43px;
    content: "";
    width: 255px;
    height: 316px;
    background: url("../img/garlicBottom.png");
}

.cards .container::after {
    position: absolute;
    top: -70px;
    right: -70px;
    content: "";
    width: 119px;
    height: 119px;
    background: url(../img/garlicTop.png) 0 0;
    background-size: cover;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}


.card__wrapper {
    position: relative;
    width: 270px;
    margin-right: 30px;
    margin-bottom: 30px;
    filter: drop-shadow(0px 2px 15px rgba(114, 114, 114, 0.1));
    -webkit-transition: all .25s cubic-bezier(.02, .01, .47, 1);
    transition: all .25s cubic-bezier(.02, .01, .47, 1);
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    padding: 19px 16px;
    background-color: #ffffff;
    -webkit-clip-path: polygon(11% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 9%);
    clip-path: polygon(11% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 9%);
}

.card:focus,
.card:hover {
    -webkit-clip-path: polygon(11% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 9%);
    clip-path: polygon(11% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 9%);
}

.card__wrapper:focus,
.card__wrapper:hover {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}

.card:hover .card__button {
    display: block;
}

.card__wrapper:nth-child(4n) {
    margin-right: 0;
}

.card__item img {
    margin-bottom: 8px;
}

.card__descr {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 23px;
    font-weight: normal;
    text-align: center;
}

.card__price {
    display: block;
    text-align: left;
}

.card__price--new {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
    color: #DA1713;
}

.card__price--old {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 13px;
    text-decoration: line-through;
}

.card__button--wrapper {
    overflow: hidden;
    width: 222px;
}

.card__button {
    display: none;
    position: relative;
    width: 100%;
    height: 38px;
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    color: #DA1713;
    background: #ffffff;
    border: 1px solid #DA1713;

}

.card__button:before {
    content: '';
    position: absolute;
    left: -31px;
    top: -25px;
    width: 45px;
    height: 30px;
    border-right: 1px solid #DA1713;
    background: #ffffff;
    transform: rotate(50deg);
}

.card__button:after {
    content: '';
    position: absolute;
    right: -31px;
    bottom: -25px;
    width: 45px;
    height: 30px;
    background: #ffffff;
    border-left: 1px solid #DA1713;
    transform: rotate(50deg);
}


.cards__button {
    margin: 0 auto;
    color: #ffffff;
}

.cards__button--mobile {
    display: none;
}

/* Compare */

.compare {
    margin-bottom: 146px;
}

.compare h2 {
    width: 808px;
    margin-bottom: 99px;
}

.compare .container {
    justify-content: normal;
}

.compare li {
    margin-bottom: 16px;
}

.compare ul {
    width: 270px;
    padding-top: 66px;
    padding-bottom: 14px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    background: #FAFAFA;
}

.compare ul:first-of-type {
    width: 300px;
    padding-left: 24px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
}

.compare ul:nth-child(6) {
    position: relative;
    width: 330px;
    height: 347px;
    padding: 24px;
    padding-top: 87px;
    font-size: 24px;
    line-height: 18px;
    background: #ffffff;
    box-shadow: 0px 2px 30px rgba(114, 114, 114, 0.1);
}

.compare ul:nth-child(6):before {
    content: "";
    position: absolute;
    top: 10px;
    right: 24px;
    width: 70px;
    height: 50px;
    background: linear-gradient(90.07deg, #FF0500 3.25%, #E20400 100%);
    transform: rotate(-90deg);
}

.compare ul:nth-child(6):after {
    content: "";
    position: absolute;
    top: 20px;
    right: 34px;
    width: 13px;
    height: 3px;
    border: 25px solid transparent;
    border-bottom-color: white;
}

.compare ul:nth-child(6) li {
    padding: 0;
    margin-bottom: 24px;
}

.compare__link {
    width: 270px;
    position: absolute;
    top: 32px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

.compare__link--p {
    top: 55px;
    left: 300px;
}

.compare__link--g {
    width: 266px;
    left: 601px;
    font-size: 24px;
    line-height: 23px;
    z-index: 1;
}

.compare__link--o {
    top: 55px;
    left: 900px;
}

/* Video */

.video-about {
    text-align: center;
    margin-bottom: 112px;
}

.video-about .container {
    margin-bottom: 64px;
}

.video-about .card__button {
    display: block;
}

.video-about .card__button--wrapper {
    margin: 0 auto;
}

.video-left {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 470px;
    background: #250404;
    margin-right: 30px;
}

.video__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video-right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.video-right p {
    display: inline-block;

    position: relative;
    width: 270px;
    height: 0;
    padding-bottom: 220px;
    background: #250404;
}

.video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    height: 90px;
    border: none;
    margin-top: -45px;
    margin-left: -45px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    color: #DA1713;
    box-shadow: 0px 2px 10px rgba(70, 59, 59, 0.09);
}

/* Reviews */

.reviews {
    margin-bottom: 112px;
}

.reviews__item {
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
}

.reviews__wrapper {
    position: relative;
    width: 570px;
    padding-top: 51px;
}

.reviews__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 370px;
    height: 77px;
    background-image: url("../img/MEDVED.svg");
    z-index: -1;
}

.reviews__title {
    width: 350px;
    font-family: Ponter;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;
}

.reviews__cite {
    display: block;
    margin-left: auto;
    width: 154px;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
}

.reviews__text {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 21px;
}

.reviews__button {
    color: #ffffff;
}

/* Features */

.features {
    text-align: center;
    margin-bottom: 112px;
}

.features .container:before {
    content: "";
    position: absolute;
    top: -111px;
    left: -130px;
    width: 255px;
    height: 255px;
    background-image: url("../img/garlicFeatures.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.features .container:after {
    content: "";
    position: absolute;
    bottom: -70px;
    right: -149px;
    width: 255px;
    height: 316px;
    background-image: url("../img/garlicFeaturesBottom.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.features__item {
    filter: drop-shadow(0px 2px 15px rgba(114, 114, 114, 0.1));
}

.features__card {
    width: 270px;
    height: 312px;
    padding-top: 24px;
    text-align: center;
    background-color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0 80%);
}

.features__icon {
    margin: 0 auto;
    width: 90px;
    height: 90px;
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(70, 59, 59, 0.09);
    border-radius: 50%;
    margin-bottom: 24px;
}

.features__icon svg {
    position: relative;
    top: 50%;
    margin-top: -13px;
}

.features__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 16px;
}

.features__subtitle {
    margin: 0 auto;
    width: 218px;
    font-size: 14px;
    line-height: 13px;
    color: #9E9E9E;
    margin-bottom: 72px;
}

/* Map */
.popup-map {
    display: none;
    margin: 0;
}

.popup-map--active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 4, 4, 0.5);
    display: block;
    z-index: 5;
}

.popup-map__item {
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -280px;
}

.popup-map__item iframe {
    border: none;
}

/* Media */

@media (max-width: 1440px) {

    .section-main__overlay {
        padding-left: 200px;
    }

    .products {
        overflow: hidden;
    }
}

@media (max-width: 1024px) {

    .section-main {
        height: 286px;
        background: url("../img/bgDeskSM.jpg") no-repeat;
    }

    .section-main__overlay {
        padding-top: 70px;
        padding-left: 100px;
    }

    header {
        font-size: 14px;
    }

    .page-header__item--map {
        width: 111px;
    }

    .tel {
        margin-right: 260px;
    }

    .page-header__list,
    .nav-site__list,
    .products__wrapper {
        width: 900px;
    }

    .products__wrapper {
        height: 1150px;
    }

    .products__wrapper::before {
        left: -95px;
    }

    .products {
        padding-top: 85px;
    }

    .section-main__title {
        width: 510px;
        font-size: 38px;
        line-height: 44px;
        margin-bottom: 0;
    }

    .products__title {
        font-size: 38px;
        line-height: 42px;
    }

    .products__wrapper::after {
        right: -40px;
    }

    .card:nth-child(4n) {
        margin-right: 30px;
    }

    .card:nth-child(3n) {
        margin-right: 0;
    }

    .card:nth-child(7) {
        margin-left: auto;
    }

    .card:nth-child(8) {
        margin-right: auto;
    }
}

@media (max-width: 768px) {

    header {
        overflow: hidden;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    main {
        overflow: hidden;
    }

    .page-header__item--map {
        display: none;
    }

    .page-header__link--phone {
        display: block;
    }

    .page-header__item--button {
        display: block;
    }

    .page-header__button {
        border: none;
        background: transparent;
        cursor: pointer;
        outline: none;
    }

    .deactive {
        display: none;
    }

    .page-header__list {
        max-width: 675px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .page-header__link--tel {
        font-size: 0;
        line-height: 0;
        margin-right: 0px;
    }

    .page-header__link--phone {
        display: block;
    }

    .menu-close {
        display: none;
    }

    .nav-site {
        position: relative;
        top: 0;
        width: 100%;
        height: 200vh;
        background: rgba(37, 4, 4, 0.5);
        z-index: 3;
    }

    .nav-site__icon {
        display: none;
    }

    .nav-site__list {
        position: absolute;
        top: 0;
        width: 100%;
        height: 286px;
        background-color: #ffffff;
        display: block;
        padding: 32px 16px;
        text-align: center;
        z-index: 4;
    }

    .nav-site__item {
        margin-bottom: 24px;
        font-size: 18px;
        line-height: 17px;
    }

    .nav-site__item:focus,
    .nav-site__item:hover {
        color: inherit;
        background-color: transparent;
        padding: 0;
    }

    .nav-site__item:last-of-type {
        margin-bottom: 0;
    }

    .products {
        overflow: visible;
        padding: 70px 0;
    }

    .products__wrapper {
        width: 708px;
        height: auto;
    }

    .products__wrapper::before,
    .products__wrapper::after {
        display: none;
    }

    .card {
        width: 162px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .card__item {
        position: relative;
        padding: 19px 16px;
        background: #ffffff;
    }

    .card:nth-child(3n) {
        margin-right: 20px;
    }

    .card:nth-child(7) {
        margin-left: 0;
    }

    .card:nth-child(4n) {
        margin-right: 0;
    }


    .card__descr {
        font-size: 14px;
        line-height: 13px;
    }

    .card__price--new {
        font-size: 18px;
        line-height: 17px;
    }

    .card__price--old {
        font-size: 14px;
        line-height: 13px;
    }

    .products__button {
        display: none;
    }

    .card__button {
        display: none;
    }

    .products__button--mobile {
        display: block;
        margin: auto;
        width: 270px;
        height: 48px;
        padding: 18px 86px 17px;
        font-size: 14px;
        line-height: 13px;
        font-weight: normal;
        color: #DA1713;
        background: url("../img/buttonMobile.svg") no-repeat;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-clip-path: none;
        clip-path: none;
    }
}

@media (max-width: 425px) {

    .page-header__top {
        height: 60px;
    }

    .page-header__list {
        width: 393px;
    }

    .section-main {
        background: url("../img/bgMobile.jpg") no-repeat;
        background-size: cover;
    }

    .section-main__overlay {
        padding: 64px 16px;
    }

    .section-main__title {
        width: 340px;
        font-size: 28px;
        line-height: 31px;
        margin-bottom: 0;
    }

    .section-main__subtitle {
        font-size: 14px;
        line-height: 13px;
        margin-bottom: 8px;
    }

    .products__wrapper {
        width: 364px;
    }

    .card:nth-child(2n) {
        margin-right: 0;
    }

    .card:nth-child(n+5) {
        display: none;
    }

    .products__title {
        font-size: 28px;
        line-height: 110%;
        width: 343px;
        margin-bottom: 28px;
    }

    .popup-map__item {
        margin-left: -150px;
    }

    .popup-map__item iframe {
        width: 300px;
        height: auto;
    }
}

@media (max-width: 375px) {
    .page-header__list {
        width: 346px;
    }

    .section-main__overlay {
        padding: 64px 50px;
    }

    .products__wrapper {
        width: 344px;
        margin-bottom: 32px;
    }

    .section-main__button {
        width: 170px;
        height: 38px;
        font-size: 14px;
        font-weight: normal;
        line-height: 13px;
        padding: 13px 24px;
    }
}

@media (max-width: 320px) {
    .page-header__list {
        width: 300px;
    }

    .section-main__title {
        width: 300px;
        font-size: 24px;
    }

    .section-main__subtitle {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 8px;
    }

    .products__title {
        font-size: 24px;
        width: 295px;
    }

    .products__wrapper {
        display: block;
        width: 280px;
    }

    .card {
        margin-right: 0;
    }
}