/* Fonts */

@font-face {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../font/GothamPro.woff) format("woff");
}

@font-face {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../font/GothamPro-Bold.woff) format("woff");
}

@font-face {
    font-family: Ponter;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../font/ponter.ttf) format("truetype");
}

/* Global */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 0;
    max-width: 1920px;
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #250404;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1, h2 {
    width: 770px;
    margin: 0 auto 61px;
    font-family: Ponter, sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    h1, h2 {
        font-size: 42px;
        line-height: 42px;
    }
}

@media screen and (max-width: 768px) {
    h1, h2 {
        width: 535px;
        font-size: 32px;
        line-height: 31px;
    }
}

@media screen and (max-width: 550px) {
    h1, h2 {
        width: 438px;
    }
}

@media screen and (max-width: 440px) {
    h1, h2 {
        font-size: 28px;
        line-height: 31px;
        width: 343px;
    }
}

@media screen and (max-width: 345px) {
    h1, h2 {
        width: 320px;
        font-size: 26px;
        line-height: 29px;
    }
}

button {
    cursor: pointer;
    outline: none;
}

.button--wrapper {
    overflow: hidden;
    width: 270px;
    margin: 0 auto;
    transition: all .25s cubic-bezier(.02, .01, .47, 1);
}

.button-main {
    position: relative;
    width: 100%;
    height: 48px;
    padding: 16px 70px 17px;
    color: #DA1713;
    text-align: center;
    background: #ffffff;
    border: 1px solid #DA1713;
    cursor: pointer;
}

.button-main:before {
    content: '';
    position: absolute;
    left: -31px;
    top: -25px;
    width: 45px;
    height: 30px;
    border-right: 1px solid #DA1713;
    background: #ffffff;
    transform: rotate(50deg);
}

.button-main:after {
    content: '';
    position: absolute;
    right: -31px;
    bottom: -25px;
    width: 45px;
    height: 30px;
    background: #ffffff;
    border-left: 1px solid #DA1713;
    transform: rotate(50deg);
}

.button-main--red {
    font-weight: bold;
    color: #FFFFFF;
    background: #DA1713;
    border: 1px solid #DA1713;
    cursor: pointer;
}

.button--wrapper:hover {
    transform: translate(0, -6px);
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1210px;
    padding: 0 20px;
    height: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 540px) {
    .container {
        padding: 0 10px;
    }
}

/* Page-header */

header {
    position: relative;
    height: 76px;
    font-size: 14px;
    line-height: 13px;
    background-color: #E20400;
    background-image: url("../img/print.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.header__item {
    width: 226px;
    font-weight: bold;
    color: #ffffff;
}

header a:hover {
    opacity: 0.7;
}

.header__item--logo {
    width: 129px;
    font-size: 11px;
    line-height: 11px;
    font-weight: normal;
    text-align: center;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    transition: all .25s cubic-bezier(.02, .01, .47, 1);
}

.header__item--logo:hover {
    transform: scale(1.1);
}

.header__button,
.header__item--phone {
    display: none;
}

.deactive {
    display: none;
}


@media screen and (max-width: 768px) {

    header {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 3;
    }

    .header__item:first-child {
        font-size: 0;
        width: 28px;
    }

    .header__item--logo {
        margin-left: auto;
        margin-right: 18%;
    }

    #map {
        width: 144px;
    }

    .header__item--phone {
        display: block;
        margin-top: -16px;
        fill: #FFFFFF;
    }


    .header__button {
        width: 28px;
        display: block;
        border: none;
        background: transparent;
    }
}

@media screen and (max-width: 667px) {
    #map {
        display: none;
    }

    .header__item--logo {
        margin-left: 0;
        margin-right: 0;
    }

}

/* Nav */

nav .container {
    max-width: 1256px;
}

nav {
    overflow: hidden;
    position: relative;
    height: 49px;
    background-color: #FAFAFA;
}

.nav__icon {
    margin-right: 3px;
    vertical-align: text-bottom;
=
}

.nav__icon--side {
    transition: transform 0.5s ease;
}

.nav__icon--side:hover svg {
    fill: #DA1713;
}

.nav__icon--side-right {
    position: absolute;
    top: 20%;
    transform: translateX(1000px);
    right: 10%;
}

.nav__icon--side-left {
    position: absolute;
    top: 20%;
    padding-left: 10px;
    transform: translateX(-1000px);
    left: 5%;
}

.nav__link:first-of-type {
    display: none;
}

.nav__icon--side-left svg {
    fill: #250404;
}

@media screen and (max-width: 1570px) {
    .nav__icon--side-right {
        right: 5%;
    }

    .nav__icon--side-left {
        left: 5%;
    }
}

@media screen and (max-width: 1420px) {
    .nav__icon--side-right {
        right: 2%;
    }

    .nav__icon--side-left {
        left: 2%;
    }
}

@media screen and (max-width: 1320px) {
    .nav__icon--side-right {
        right: 0;
    }

    .nav__icon--side-left {
        left: 0;
    }
}

@media screen and (max-width: 1280px) {
    .nav__icon--side-right {
        right: 0;
    }

    .nav__icon--side-left {
        left: 0;
    }
}

@media screen and (max-width: 1080px) {
    .nav__icon--side {
        display: none;
    }
}


@media screen and (max-width: 1012px) {
    .nav__icon {
        display: none;
    }
}

.nav__link {
    height: 100%;
    padding: 17px 21px 17px;
    line-height: 13px;
    vertical-align: text-bottom;
}

@media screen and (max-width: 1320px) {
    nav .container {
        max-width: 1040px;
    }

    .nav__link {
        padding: 17px 5px 17px;
    }
}

.nav__link:hover {
    color: #ffffff;
    background: linear-gradient(180deg, #e62926 50.25%, #E20400 100%);
}


.nav__link:hover .nav__icon {
    fill: #ffffff;
}

.active {
    display: block;
}

@media screen and (max-width: 1058px) {
    .nav__link {
        font-size: 13px;
    }
}

@media screen and (max-width: 850px) {
    .nav__link {
        padding: 17px 10px 17px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        position: fixed;
        top: 76px;
        width: 100%;
        background: #FFFFFF;
        height: 300px;
        z-index: 3;
    }

    .nav--overlay {
        width: 100%;
        height: 300%;
        background-color: #250404;
        opacity: 0.1;
        z-index: 2;
        position: absolute;
    }

    .nav__link {
        font-size: 18px;
        line-height: 17px;
    }

    .menu-close {
        display: none;
    }

    nav .container {
        flex-direction: column;
    }

}

/* Section-main */

.section-main {
    position: relative;
    width: 100%;
    height: 535px;
    margin-bottom: 112px;
    color: #ffffff;
    background-image: url("../img/bgDesk.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}

.section-main:after {
    position: absolute;
    top: 0;
    content: "";
    width: 100%;
    height: 535px;
    background: linear-gradient(122.99deg, rgba(99, 61, 38, 0) -1.28%, rgba(99, 61, 38, 0.3) 98.43%);
    transform: rotate(-180deg);
}

.section-main .container {
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    z-index: 1;
}

.section-main__title {
    width: 650px;
    margin-bottom: 8px;
    font-family: Ponter, sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
}

.section-main__subtitle {
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 17px;
}

.section-main__button {
    width: 270px;
    height: 48px;
    padding: 14px 70px 17px;
    font: inherit;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(180deg, #e62926 52.25%, #E20400 100%);
    clip-path: polygon(7% 0, 100% 0, 100% 65%, 93% 100%, 0 100%, 0 35%);
    transition: all .25s cubic-bezier(.02, .01, .47, 1);
}

.section-main__button:hover {
    transform: translate(0, -6px);
}

@media screen and (max-width: 1024px) {
    .section-main {
        background-image: url("../img/bgDeskSM.jpg");
        height: 285px;
    }

    .section-main:after {
        height: 285px;
    }

    .section-main .container {
        justify-content: flex-start;
        height: 285px;
    }

    .section-main__title {
        width: 530px;
        margin-top: 56px;
        font-size: 42px;
        line-height: 42px;
    }
}

@media screen and (max-width: 768px) {
    .section-main {
        background-image: url("../img/bgTablet.jpg");
        height: 214px;
    }

    .section-main:after {
        height: 214px;
    }

    .section-main .container {
        height: 214px;
    }

    .section-main__title {
        width: 430px;
        font-size: 32px;
        margin-top: 24px;
    }

    .section-main__subtitle {
        font-size: 14px;
    }

    .section-main .button {
        width: 222px;
        height: 38px;
        font-size: 14px;
        padding-top: 10px;
    }
}

@media screen and (max-width: 414px) {

    .section-main .container {
        height: 100%;
        justify-content: center;
    }

    .section-main {
        background: url("../img/bgMobile.jpg") no-repeat 0 0;
        background-size: cover;
        height: 267px;
        margin-bottom: 62px;
    }

    .section-main__title {
        width: 340px;
        font-size: 28px;
        line-height: 31px;
    }

    .section-main__subtitle {
        font-size: 14px;
        line-height: 13px;
    }

    .section-main__button {
        width: 170px;
        height: 38px;
        font-size: 14px;
        font-weight: normal;
        line-height: 13px;
        padding: 13px 24px;
    }
}

/* Products */

.cards {
    text-align: center;
    margin-bottom: 112px;
}


.cards .container {
    flex-wrap: wrap;
    margin-bottom: 44px;
    align-items: flex-start;
    justify-content: space-between;
}

.cards .container::before {
    position: absolute;
    left: -162px;
    bottom: -43px;
    content: "";
    width: 255px;
    height: 316px;
    background: url("../img/garlicBottom.png");
}

.cards .container::after {
    position: absolute;
    top: -70px;
    right: -70px;
    content: "";
    width: 119px;
    height: 119px;
    background: url(../img/garlicTop.png) 0 0;
    background-size: cover;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

.card__wrapper {
    overflow: hidden;
    position: relative;
    width: 23.1%;
    height: 390px;
    filter: drop-shadow(0px 2px 15px rgba(114, 114, 114, 0.1));
    -webkit-transition: all .25s cubic-bezier(.02, .01, .47, 1);
    transition: all .25s cubic-bezier(.02, .01, .47, 1);
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 360px;
    padding: 16px 0;
    background-color: #ffffff;
    clip-path: polygon(11% 0, 100% 0, 100% 85%, 80% 100%, 0 100%, 0 9%);
}


.card:hover {
    height: 390px;
    clip-path: polygon(11% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 9%);
}

.card__wrapper:hover {
    transform: translateY(-15px);
}

.card:hover .card__button {
    display: block;
}

.card:hover .card__button--wrapper {
    transform: translateY(0);
}

.card img {
    width: 100%;
}

.card__descr {
    padding: 0 5px;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    text-align: center;
    max-height: 70px;
}

.card__price {
    padding-left: 16px;
    display: block;
    text-align: left;
}

.card__price--new {
    height: 23px;
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
    color: #DA1713;
}

.card__price--old {
    height: 14px;
    font-size: 14px;
    line-height: 13px;
    text-decoration: line-through;
}

.card__button--wrapper {
    width: 222px;
    transition: all .25s cubic-bezier(.02, .01, .47, 1);
    transform: translateY(200%);
}

.card__button {
    display: none;
    height: 38px;
    line-height: 13px;
    background: #ffffff;
}

.card__button--mobile {
    display: none;
}

@media screen and (max-width: 1440px) {
    .cards .container::after {
        top: -77px;
        right: -56px;
    }

    .cards .container::before {
        left: -136px;
    }
}

@media screen and (max-width: 1365px) {
    .cards .container::before,
    .cards .container::after {
        display: none;
    }
}

@media screen and (max-width: 1024px) {


    .card__button--wrapper {
        display: none;
    }

    .card__wrapper:hover {
        transform: translateY(0);
    }

    .card:hover {
        clip-path: polygon(11% 0, 100% 0, 100% 85%, 80% 100%, 0 100%, 0 9%);
        height: 360px;
    }
}

@media screen and (max-width: 946px) {
    .card__wrapper {
        height: 300px;
    }

    .card,
    .card:hover {
        height: 285px;
    }

    .card__descr {
        font-size: 16px;
    }

    .card__price--new {
        font-size: 16px;
    }

}

@media screen and (max-width: 850px) {
    .card__wrapper {
        height: 285px;
    }

    .card,
    .card:hover {
        height: 270px;
    }
}

@media screen and (max-width: 768px) {

    .card__wrapper {
        height: 260px;
    }

    .card,
    .card:hover {
        height: 250px;
    }

    .card__descr {
        font-size: 14px;
        line-height: 13px;
    }

    .card__price--new {
        font-size: 16px;
        line-height: 17px;
    }

    .card__price--old {
        font-size: 14px;
        line-height: 13px;
    }

}

@media screen and (max-width: 667px) {

    .card__wrapper:nth-child(n + 7) {
        display: none;
    }

    .card__wrapper {
        width: 30%;
    }

}

@media screen and (max-width: 440px) {

    .card__wrapper:nth-child(n + 5) {
        display: none;
    }

    .card__wrapper {
        width: 45%;
        height: 270px;
    }

    .card:hover {
        height: 270px;
    }

    .cards .button-main--red {
        display: none;
    }

    .card__button--mobile {
        display: block;
    }

    .cards {
        margin-bottom: 64px;
    }

}

/* Compare */

.compare {
    margin-bottom: 146px;
}

/*.compare h2 {*/
/*    width: 808px;*/
/*    margin-bottom: 99px;*/
/*}*/

.compare .container {
    justify-content: normal;
}

.compare li {
    padding: 10px 24px;
}

.compare__list {
    width: 270px;
    padding-top: 66px;
    padding-bottom: 14px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    background: #FAFAFA;
}

.compare__list--head {
    width: 300px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    padding-top: 59px;
}

.compare__list--garlic {
    position: relative;
    width: 330px;
    height: 385px;
    padding: 87px 24px 24px;
    font-size: 24px;
    line-height: 18px;
    background: #ffffff;
    box-shadow: 0 2px 30px rgba(114, 114, 114, 0.1);
}

.compare__list--garlic li {
    padding: 14px 24px;
}

.compare__list--garlic::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 24px;
    width: 70px;
    height: 50px;
    background: linear-gradient(90.07deg, #FF0500 3.25%, #E20400 100%);
    transform: rotate(-90deg);
}

.compare__list--garlic::after {
    content: "";
    position: absolute;
    top: 21px;
    right: 34px;
    width: 13px;
    height: 3px;
    border: 25px solid transparent;
    border-bottom-color: white;
}


.compare__link {
    width: 10%;
    position: absolute;
    top: 42px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    pointer-events: none;
    cursor: default;
}

.compare__link--p {
    top: 66px;
    left: 32.7%;
}

.compare__link--g {
    width: 266px;
    left: 51%;
    font-size: 24px;
    line-height: 23px;
    z-index: 1;
}

.compare__link--o {
    top: 66px;
    right: 8%;
}

@media screen and (max-width: 1146px) {
    .compare__list--head {
        width: 41%;
    }

    .compare__link--p {
        left: 37.7%;
    }

    .compare__link--o {
        right: 7%;
    }

    .compare__link--g {
        left: 53%;
    }
}

@media screen and (max-width: 1090px) {
    .compare__link--g {
        left: 52%;
    }
}

@media screen and (max-width: 1024px) {

    /*.compare h2 {*/
    /*    width: 690px;*/
    /*    margin-bottom: 99px;*/
    /*}*/
    .compare__link {
        width: 33.33%;
        position: static;
        font-size: 14px;
        line-height: 13px;
        padding: 15px 0 15px;
        color: #9E9E9E;
        background: #FFF3F3;
        font-weight: normal;
        pointer-events: all;
        cursor: pointer;
    }

    .compare__link--active {
        font-weight: bold;
        color: #FAFAFA;
        background: linear-gradient(90.07deg, #FF0500 3.25%, #E20400 100%);
    }

    .compare .container {
        flex-wrap: wrap;
    }

    .compare__list {
        width: 33.33%;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 16px;
    }

    .compare__list li {
        padding: 14px 12px;
    }


    .compare__list li:nth-child(2n) {
        background-color: #F3F4F6;
    }

    .compare__list--head {
        width: 66.66%;
        padding-bottom: 0;
    }


    .compare__list--head li:last-child {
        margin-bottom: 0;
    }

    .compare__list--garlic {
        height: auto;
        background: #FAFAFA;
        box-shadow: none;
        padding: 0;
    }


    .compare__list--garlic::before,
    .compare__list--garlic::after {
        display: none;
    }

    #onion, #potato {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .compare h2 {
        width: auto;
    }

    .compare__list li {
        padding: 14px 12px;
    }

    .compare__list {
        padding-top: 0;
        line-height: 13px;
    }
}

@media only screen and (max-width: 533px) {

    .compare__list li {
        padding: 14px 12px;
    }

    .compare__list {
        padding-top: 0;
        line-height: 13px;
    }

}

@media screen and (max-width: 375px) {

    .compare h2 {
        width: 343px;
        margin-bottom: 24px;
    }

    .compare__list li {
        font-size: 14px;
        padding: 14px 12px;
    }

    .compare__list {
        padding-top: 0;
        line-height: 13px;
    }


    .compare {
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 330px) {
    .compare__list li {
        font-size: 13px;
    }
}

/* Video */

.video-about {
    text-align: center;
    margin-bottom: 112px;
}

.video-about .container {
    margin-bottom: 64px;
}

.video-about .button--wrapper {
    width: 270px;
}

.video-about .button-main {
    padding: 16px 50px 17px;
}

.video {
    position: relative;
    width: 48%;
    height: 0;
    padding-bottom: 40%;
    background: #000000;
}

.video--left {
    padding-bottom: 41.5%;
}

.video--right .video {
    width: 47%;
    margin-bottom: 30px;
}

.video--right .video:nth-child(n+3) {
    margin-bottom: 0;
}

.video__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    height: 90px;
    border: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    color: #DA1713;
    box-shadow: 0 2px 10px rgba(70, 59, 59, 0.09);
    display: none;
    font-size: 35px;
}


.video:hover .video__button {
    opacity: 0.7;
}

.video--enabled .video__button {
    display: block;
}

.video--right {
    width: 570px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video--right .video__button {
    width: 50px;
    height: 50px;
    padding: 11px;
    transform: translate(-50%, -50%);
    font-size: 24px;
}


.video-about .button--wrapper a {
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    .video-about .container {
        justify-content: center;
    }

    .video--left {
        display: none;
    }

    .video--right {
        width: 100%;
    }

    .video--right .video {
        width: 48%;
        margin-bottom: 20px;
    }

    .video--right .video:nth-child(n+3) {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 600px) {
    .video-about h2 {
        width: auto;
    }
}

@media only screen and (max-width: 533px) {
    .video--right .video:nth-child(n+3) {
        display: none;
    }

    .video--right .video {
        width: 47%;
    }
}

@media screen and (max-width: 375px) {
    .video--right .video {
        width: 100%;
        padding-bottom: 80%;
    }

    .video-about {
        margin-bottom: 64px;
    }
}

/* Reviews */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.reviews {
    margin-bottom: 112px;
}

.reviews__item {
    width: 48.72%;
    padding-top: 50px;
    margin: 0 0 34px;
}

.reviews__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 200px;
    width: 370px;
    height: 77px;
    background-image: url("../img/MEDVED.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.reviews .container {
    display: block;
}

.reviews__image {
    width: 48.72%;
    float: right;
    margin-top: -194px;
}

.reviews__cite {
    display: block;
    margin-left: auto;
    width: 154px;
    font-family: Gotham Pro, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
}

.reviews p {
    width: 48.72%;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 21px;
}

.reviews__title {
    width: 470px;
    font-family: Ponter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;
}

.reviews .button--wrapper {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .reviews p {
        width: 48.72%;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 18px;
    }
}

@media screen and (max-width: 768px) {
    .reviews__image {
        margin-top: 0;
    }
}

@media screen and (max-width: 414px) {

    .reviews {
        height: 720px;
    }

    .reviews__item:before {
        left: unset;
        right: 0;
    }

    .reviews__item {
        width: 100%;
    }

    .reviews__image {
        width: 100%;
        float: none;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .reviews__image img {
        margin-top: 0;
    }

    .reviews p {
        width: 100%;
    }

    .reviews__title {
        width: 470px;
        font-size: 42px;
        line-height: 42px;
    }

    .reviews__text:last-of-type {
        margin-bottom: 16px;
    }

    .reviews .button--wrapper {
        margin: 0 auto;
    }
}

@media screen and (max-width: 495px) {
    .reviews__title {
        width: 343px;
        font-size: 32px;
        line-height: 31px;
    }
}

@media screen and (max-width: 375px) {
    .reviews__title {
        width: 343px;
        font-size: 28px;
        line-height: 31px;
    }

    .reviews__item:before {
        width: 250px;
        height: 53px;
    }

    .reviews__image {
        float: none;
        width: 220px;
    }

    .reviews {
        height: auto;
        margin-bottom: 64px;
    }

}


/* Features */

.features {
    text-align: center;
    margin-bottom: 112px;
}

.features .container:before {
    content: "";
    position: absolute;
    top: -90px;
    left: -100px;
    width: 163px;
    height: 163px;
    background-image: url("../img/garlicTop.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.features .container:after {
    content: "";
    position: absolute;
    bottom: -70px;
    right: -149px;
    width: 255px;
    height: 316px;
    background-image: url("../img/garlicBottom.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    transform: scale(-1, 1)
}

.features__item {
    width: 23%;
    filter: drop-shadow(0px 2px 15px rgba(114, 114, 114, 0.1));
}

.features__card {
    width: 100%;
    height: 312px;
    padding-top: 24px;
    text-align: center;
    background-color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0 80%);
}

.features__icon {
    width: 90px;
    height: 90px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(70, 59, 59, 0.09);
    border-radius: 50%;
    margin: 0 auto 24px;
}

.features__icon svg {
    position: relative;
    top: 50%;
    margin-top: -13px;
}

.features__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 16px;
}

.features__subtitle {
    width: 80%;
    font-size: 14px;
    line-height: 13px;
    color: #9E9E9E;
    margin: 0 auto 72px;
}

@media screen and (max-width: 1525px) {
    .features .container:after {
        right: -100px;
    }
}

@media screen and (max-width: 1420px) {
    .features .container:after {
        right: -70px;
    }
}

@media screen and (max-width: 1370px) {
    .features .container:before {
        top: -77px;
        left: -55px;
    }

    .features .container:after {
        bottom: -77px;
        right: -29px;
        width: 160px;
        height: 198px;
    }
}

@media screen and (max-width: 1310px) {
    .features .container:after,
    .features .container:before {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .features .container:before {
        display: none;
    }

    .features .container:after {
        display: none;
    }

    .features__item {
        width: auto;
        filter: none;
    }

    .features__card {
        width: 226px;
        background-color: transparent;
        clip-path: none;
    }
}

@media screen and (max-width: 946px) {
    .features__subtitle {
        display: none;
    }

    .features__card {
        width: 200px;
        height: auto;
    }
}

@media screen and (max-width: 836px) {
    .features .container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .features__card {
        width: 276px;
    }
}

@media only screen and (max-width: 600px) {
    .features__card {
        width: 222px;
    }
}

@media screen and (max-width: 478px) {
    .features__card {
        width: 170px;
    }

    .features__text {
        font-size: 16px;
    }
}

@media screen and (max-width: 375px) {
    .features__card {
        width: 162px;
    }

    .features__text {
        font-size: 14px;
        line-height: 13px;
    }
}

@media screen and (max-width: 343px) {
    .features__card {
        width: 140px;
    }

    .features__text {
        font-size: 13px;
    }
}

/* Carousel */

.carousel {
    margin-bottom: 117px;
}

.carousel__wrapper {
    width: 100%;
}

.owl-stage-outer {
    padding: 0 56px;
}

.owl-stage {
    display: flex;
    justify-content: space-between;
}

.owl-item {
    width: 3.5% !important;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    top: 15%;
    position: absolute;
    width: 50px;
    height: 50px;
    color: #DA1713;
    line-height: 1;
    border: none;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0 2px 10px rgba(70, 59, 59, 0.09);
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    background: #DA1713;
    color: #FFFFFF;
}

.owl-carousel .owl-nav button.owl-next {
    right: -3%;
}

.owl-carousel .owl-nav button.owl-prev {
    left: -3%;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #DA1713;
}

@media screen and (max-width: 1280px) {
    .owl-carousel .owl-nav button.owl-next {
        right: -1%;
    }

    .owl-carousel .owl-nav button.owl-prev {
        left: -1%;
    }
}

@media screen and (min-width: 1024px) {
    .owl-carousel .owl-nav.disabled {
        display: block;
    }

}

/* Footer */

footer {
    color: #666666;
    height: 351px;
    background: url("../img/footerBg.jpg");
    padding-top: 228px;
}

footer .container {
    justify-content: normal;
    align-items: flex-start;
    height: auto;
    margin-bottom: 26px;
}

footer .container:last-of-type {
    justify-content: space-between;
    height: 0;
    align-items: flex-end;
}

.footer__link--logo {
    width: 129px;
    margin-right: 71px;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}

footer ul {
    display: flex;
    flex-flow: column wrap;
    height: 83px;
}

footer li {
    margin-bottom: 14px;
    margin-right: 114px;
}

.footer__link {
    position: relative;
}

.footer__link:after {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #666666;
    transition: all 0.2s ease-in;
}

footer li:hover .footer__link:after {
    width: 100%;
}

footer li:nth-child(3n) {
    margin-bottom: 0;
}

.footer__address {
    width: 167px;
    margin-left: auto;
}

.footer__address .footer__link {
    display: block;
}

.footer__address .footer__link:first-child {
    margin-bottom: 16px;
}

.intrid {
    text-align: center;
    width: 167px;
    display: block;
    font-size: 13px;
    padding: 5px 10px 6px 0;
    color: white;
    background: url("../img/intridButton.png") no-repeat 0 0;

}


.intrid:hover {
    opacity: 0.7;
}


@media screen and (max-width: 1024px) {
    footer li {
        margin-bottom: 14px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 946px) {
    footer li {
        font-size: 14px;
    }

    .footer__address {
        font-size: 14px;
    }

    .intrid {
        padding: 6px 10px 5px 0;
    }
}

@media screen and (max-width: 768px) {
    footer li {
        margin-right: 26px;
    }
}

@media only screen and (max-width: 680px) {
    .footer__link--logo {
        margin-right: 5px;
    }

    footer p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    footer {
        position: relative;
        padding-top: 200px;
    }

    footer .container {
        justify-content: space-between;
    }

    .footer__address {
        margin-left: 0;
    }

    footer ul {
        flex-flow: column;
    }

    footer li {
        margin-bottom: 0;
        margin-right: 0;
    }

    .footer__address .footer__link:first-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 464px) {
    footer ul {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    footer {
        height: 298px;
        background: url("../img/footerSmall.jpg");
        padding-top: 216px;
    }

    footer ul {
        display: none;
    }

    .footer__address {
        width: auto;
    }

    .footer__address .footer__link {
        width: 146px;
        margin-bottom: 5px;
    }

    .footer__link--logo {
        margin-right: 0;
    }

    .intrid {
        width: 140px;
        padding: 7px 0 7px 7px;
        font-size: 11px;
    }
}


/* Map */
.popup-map {
    display: none;
    margin: 0;
}

.popup-map--active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 4, 4, 0.5);
    display: block;
    z-index: 5;
}

.popup-map__item {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -280px;
    margin-top: -200px;
}

.popup-map__item iframe {
    border: none;
}

.popup-map__button {
    border: none;
    background: transparent;
    position: absolute;
    top: 0;
    left: 562px;
}


/* Catalog page */

.breadcrumb {
    max-width: 1210px;
    margin: 64px auto;
    padding: 0 20px;
    display: flex;
    color: #9E9E9E;
}

.breadcrumb__item a {
    font-size: 14px;
    line-height: 13px;
    text-decoration: underline;
}

.breadcrumb__item--active a {
    text-decoration: none;
}

.breadcrumb__item:not(:last-child):after {
    content: ">";
    margin: 0 8px 0;
}

.breadcrumb__item--active {
    text-decoration: none;
    color: #250404;;
}

@media screen and (max-width: 390px) {
    .breadcrumb {
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

/* Catalog */

.catalog {
    text-align: center;
    margin-bottom: 112px;
}

.hidden {
    display: none;
}

.catalog__tab {
    text-align: center;
    width: 20.3%;
    color: #9E9E9E;
    padding: 13px 16px;
    font-size: 14px;
    line-height: 13px;
}

.catalog .container:first-of-type {
    margin-bottom: 62px;
}

.tab-active {
    color: #DA1713;
    border: 1px solid #DA1713;
}

.catalog h1 {
    display: none;
}

.catalog h2 {
    font-size: 36px;
    line-height: 36px;
}

.catalog .container:nth-child(n+1) {
    flex-wrap: wrap;
}

.catalog__info {
    background: #FAFAFA;
    height: 154px;
    margin-bottom: 20px;
    text-align: left;
}

.catalog__info .container {
    width: 970px;
}

.catalog__info .container:before {
    content: "";
    position: absolute;
    background: url("../img/garlicTop.png");
    width: 155px;
    height: 155px;
    top: -10px;
    left: -173px;
}

.catalog__info .container:after {
    content: "";
    position: absolute;
    background: url("../img/garlicBottom.png");
    background-size: contain;
    width: 210px;
    height: 259px;
    top: -107px;
    right: -152px;
    transform: scale(-1, 1)

}

@media screen and (max-width: 790px ) {
    .catalog h2 {
        width: 501px;
    }
}

@media screen and (max-width: 736px ) {
    .catalog__tab {
        width: 40%;
    }
}

@media screen and (max-width: 644px) {
    .catalog .container:first-of-type {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 560px) {
    .catalog h2 {
        display: none;
    }

    .catalog h1 {
        display: block;
        width: 353px;
    }

    .catalog__tab {
        width: 175px;
        padding: 13px 10px;
    }
}

@media screen and (max-width: 390px) {
    .catalog h1 {
        width: 343px;
        font-size: 28px;
        line-height: 31px;
        margin-bottom: 32px;
    }

    .catalog__tab {
        width: 162px;
    }
}

@media screen and (max-width: 362px) {
    .catalog__tab {
        width: 160px;
    }
}

@media screen and (max-width: 340px) {
    .catalog__tab {
        width: 140px;
    }
}

.info__item {
    width: 50%;
}

.info__icon--wrapper {
    position: relative;
    width: 90px;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0 2px 10px rgba(70, 59, 59, 0.09);
    border-radius: 50%;
    text-align: center;
    float: left;
    margin-right: 10px;
}

.info__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #DA1713;
}

.info__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 8px;
}

.info__subtitle {
    font-size: 14px;
    line-height: 13px;
    color: #9E9E9E;
}

@media screen and (max-width: 1310px) {
    .catalog__info .container:after,
    .catalog__info .container:before {
        display: none;
    }

    .catalog__info .container {
        width: auto;
    }
}

@media screen and (max-width: 900px) {
    .info__title {
        font-size: 16px;
    }

    .info__subtitle {
        font-size: 13px;
    }
}

@media screen and (max-width: 860px) {
    .info__icon--wrapper {
        margin-bottom: 27px;
    }
}

@media screen and (max-width: 687px) {
    .info__item {
        width: 100%;
    }

    .catalog__info {
        height: auto;
        padding-top: 20px;
    }
}

@media screen and (max-width: 414px) {
    .info__subtitle {
        margin-bottom: 32px;
    }
}

.pagination__button {
    border: none;
    background: transparent;
}

.pagination__number {
    font-size: 18px;
    line-height: 17px;
    color: #9E9E9E;
}

.pagination__number--active {
    font-size: 24px;
    line-height: 23px;
    color: #250404;
}

/* Seo */

.seo .container {
    flex-direction: column;
}

.seo p {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
}

/* Page 3 */

.product {
    margin-bottom: 64px;
}

.product h1 {
    width: 100%;
    margin: 0 0 24px;
    text-align: left;
}

.product .card__price--new {
    padding-top: 0;
    margin-bottom: 8px;
}

.card__price {
    padding: 0;
}

.product .card__price--old {
    margin-bottom: 24px;
}

.product .button--wrapper {
    margin: 0 0 64px;
}

.product__link {
    position: relative;
    display: block;
    margin-bottom: 23px;
    padding-left: 39px;
    text-decoration: underline;
    color: #DA1713;
}

.product__link svg{
    position: absolute;
    top: -6px;
    margin-left: -39px;
}

.product__link:last-of-type {
    margin-bottom: 64px;
}

.product-slider {
    width: 48.7%;
    margin-right: 32px;
}

.product-slider picture:first-child img {
    display: block;
    width: 100%;
    margin-bottom: 26px;
}

.product-slider picture img {
    width: 28.8%;
    margin-right: 25px;
}

.product-slider picture:last-child img {
    margin-right: 0;
}

.product .info__icon--wrapper {
    display: none;
}

.product .info__subtitle {
    margin-bottom: 16px;
}

.product .info__subtitle:last-of-type {
    margin-bottom: 0;
}

.product__description {
    width: 48.7%;
}

@media screen and (max-width: 1024px) {

    .product .button--wrapper {
        margin: 0 0 26px;
    }

    .product__link:last-of-type {
        margin-bottom: 26px;
    }

    .product-slider {
        margin-top: -50px;
    }

}

@media screen and (max-width: 768px) {
    .product h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 570px) {
    .breadcrumb {
        flex-wrap: wrap;
    }

    .product .container {
        display: block;
    }

    .product h1 {
        font-size: 28px;
        line-height: 31px;
        margin-bottom: 16px;

    }

    .product-slider,
    .product__description {
        width: 100%;
    }

    .product .card__price--new {
        margin-bottom: 8px;
    }

    .product .info__icon--wrapper {
        display: block;
    }

    .product .info__icon--wrapper:first-of-type {
        margin-bottom: 0;
    }

    .product .info__subtitle {
        margin-bottom: 20px;
    }

    .product .info__subtitle:last-of-type {
        margin-bottom: 60px;
    }

}

@media screen and (max-width: 433px) {
    .product .info__icon--wrapper:first-of-type {
        margin-bottom: 15px;
    }
}
/* Price */

.price {
    padding: 32px 0;
    border-top: 1px solid #F3F3F3;
    border-bottom: 1px solid #F3F3F3;
}

.price__title {
    width: 448px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 24px;
}

.price__list .button--wrapper {
    width: 170px;
}

.price__list .button--wrapper .button-main {
    height: 38px;
    padding: 12px 24px 13px;
    font-size: 14px;
    line-height: 13px;
}

.price__list {
    text-align: center;
}

.price__list li {
    padding: 8px;
    font-size: 18px;
    line-height: 17px;
}

.price__list img {
    margin-bottom: 16px;
}

.price__list--head {
    text-align: left;
    width: 33%;
    padding-top: 55px;
}

@media screen and (max-width: 768px) {
    .price__title {
        display: none;
    }
}