/* Fonts */

@font-face {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../font/GothamPro.woff) format("woff");
}

@font-face {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../font/GothamPro-Bold.woff) format("woff");
}

@font-face {
    font-family: Ponter;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../font/ponter.ttf) format("truetype");
}

/* Global */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 0;
    max-width: 1920px;
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.12em;
    color: #250404;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    border: 0;

    clip: rect(0 0 0 0);
}

.button {
    display: inline-block;
    width: 270px;
    height: 48px;
    padding: 17px 70px 17px;
    font: inherit;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(90.07deg, #FF0500 3.25%, #E20400 100%);
    -webkit-box-shadow: 0 9px 30px rgba(255, 0, 31, 0.2);
    box-shadow: 0 9px 30px rgba(255, 0, 31, 0.2);
    -webkit-clip-path: polygon(7% 0, 100% 0, 100% 65%, 93% 100%, 0 100%, 0 35%);
    clip-path: polygon(7% 0, 100% 0, 100% 65%, 93% 100%, 0 100%, 0 35%);
    -webkit-transition: all .25s cubic-bezier(.02, .01, .47, 1);
    transition: all .25s cubic-bezier(.02, .01, .47, 1);
}

.button:focus,
.button:hover {
    -webkit-transform: translate(0, -6px);
    transform: translate(0, -6px);
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .container {
        max-width: 915px;
    }
}

/* Page-header */

header {
    height: 76px;
    font-size: 14px;
    line-height: 13px;
    background-color: #E20400;
    background-image: url("../img/print.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.header__item {
    font-weight: bold;
    color: #ffffff;
}

header a:focus,
header a:hover {
    opacity: 0.7;
}

.header__item--logo {
    width: 129px;
    font-size: 11px;
    line-height: 11px;
    font-weight: normal;
    text-align: center;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}

.header__button,
.header__item--phone {
    display: none;
}

@media (max-width: 1024px) {
    #map {
        width: 115px;
    }
}

/* Nav */

nav .container {
    max-width: 1216px;
}

@media (max-width: 1024px) {
    nav .container {
        max-width: 945px;
    }
}

nav {
    height: 49px;
}

.nav__icon {
    margin-right: 3px;
    vertical-align: text-bottom;
}

.nav__link {
    height: 100%;
    padding: 17px 23px 17px;
    line-height: 13px;
    vertical-align: text-bottom;
}

@media (max-width: 1024px) {
    .nav__link {
        padding: 17px 15px 17px;
        font-size: 13px;
    }
}

.nav__link:focus,
.nav__link:hover {
    color: #ffffff;
    background: linear-gradient(90.07deg, #FF0500 3.25%, #E20400 100%);
}

.nav__link:focus .nav__icon,
.nav__link:hover .nav__icon {
    fill: #ffffff;
}


/* Section-main */

.section-main {
    position: relative;
    width: 100%;
    height: 535px;
    margin-bottom: 112px;
    color: #ffffff;
    background-image: url("../img/bgDesk.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}

@media (max-width: 1024px) {
    .section-main {
        background-image: url("../img/bgDeskSM.jpg");
        height: 285px;
    }
}

.section-main:after {
    position: absolute;
    top: 0;
    content: "";
    width: 100%;
    height: 535px;
    background: linear-gradient(122.99deg, rgba(99, 61, 38, 0) -1.28%, rgba(99, 61, 38, 0.3) 98.43%);
    transform: rotate(-180deg);
}

@media (max-width: 1024px) {
    .section-main:after {
        height: 285px;
    }
}

.section-main .container {
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    z-index: 1;
}

@media (max-width: 1024px) {
    .section-main .container {
        justify-content: flex-start;
        height: 285px;
    }
}

.section-main__title {
    width: 650px;
    margin-bottom: 8px;
    font-family: Ponter, sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    .section-main__title {
        width: 530px;
        margin-top: 56px;
        font-size: 42px;
        line-height: 42px;
    }
}


.section-main__subtitle {
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 17px;
}

/* Products */

.cards {
    text-align: center;
    margin-bottom: 112px;
}

h1, h2 {
    width: 770px;
    margin: 0 auto 61px;
    font-family: Ponter, sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

@media (max-width: 1024px) {
    h1, h2 {
        font-size: 42px;
        line-height: 42px;
    }
}

.cards .container {
    flex-wrap: wrap;
    margin-bottom: 44px;
    height: 772px;
    align-items: flex-start;
    justify-content: normal;
}

@media (max-width: 1024px) {
    .cards .container {
        height: 556px;
    }
}

.cards .container::before {
    position: absolute;
    left: -162px;
    bottom: -43px;
    content: "";
    width: 255px;
    height: 316px;
    background: url("../img/garlicBottom.png");
}

.cards .container::after {
    position: absolute;
    top: -70px;
    right: -70px;
    content: "";
    width: 119px;
    height: 119px;
    background: url(../img/garlicTop.png) 0 0;
    background-size: cover;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

@media (max-width: 1024px) {
    .cards .container::before,
    .cards .container::after {
        display: none;
    }
}


.card__wrapper {
    position: relative;
    width: 270px;
    margin-right: 30px;
    margin-bottom: 30px;
    filter: drop-shadow(0px 2px 15px rgba(114, 114, 114, 0.1));
    -webkit-transition: all .25s cubic-bezier(.02, .01, .47, 1);
    transition: all .25s cubic-bezier(.02, .01, .47, 1);
}

@media (max-width: 1024px) {
    .card__wrapper {
        width: 213px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    padding: 19px 16px;
    background-color: #ffffff;
    -webkit-clip-path: polygon(11% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 9%);
    clip-path: polygon(11% 0, 100% 0, 100% 85%, 80% 100%, 0 100%, 0 9%);
}

.card:focus,
.card:hover {
    -webkit-clip-path: polygon(11% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 9%);
    clip-path: polygon(11% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 9%);
}

.card__wrapper:focus,
.card__wrapper:hover {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}

.card:hover .card__button {
    display: block;
}

.card__wrapper:nth-child(4n) {
    margin-right: 0;
}

.card__item img {
    margin-bottom: 8px;
}

.card__descr {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 23px;
    font-weight: normal;
    text-align: center;
}

@media (max-width: 1024px) {
    .card__descr {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 18px;
    }
}

.card__price {
    display: block;
    text-align: left;
}

.card__price--new {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
    color: #DA1713;
}

.card__price--old {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 13px;
    text-decoration: line-through;
}

@media (max-width: 1024px) {
    .card__price--new {
        font-size: 18px;
        line-height: 17px;
    }

    .card__price--old {
        font-size: 14px;
        line-height: 13px;
    }
}

.card__button--wrapper {
    overflow: hidden;
    width: 222px;
}

@media (max-width: 1024px) {
    .card__button--wrapper {
        display: none;
    }
}

.card__button {
    display: none;
    position: relative;
    width: 100%;
    height: 38px;
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    color: #DA1713;
    background: #ffffff;
    border: 1px solid #DA1713;
    cursor: pointer;
}

.card__button:before {
    content: '';
    position: absolute;
    left: -31px;
    top: -25px;
    width: 45px;
    height: 30px;
    border-right: 1px solid #DA1713;
    background: #ffffff;
    transform: rotate(50deg);
}

.card__button:after {
    content: '';
    position: absolute;
    right: -31px;
    bottom: -25px;
    width: 45px;
    height: 30px;
    background: #ffffff;
    border-left: 1px solid #DA1713;
    transform: rotate(50deg);
}


.cards__button {
    margin: 0 auto;
    color: #ffffff;
}

.cards__button--mobile {
    display: none;
}

/* Compare */

.compare {
    margin-bottom: 146px;
}

.compare h2 {
    width: 808px;
    margin-bottom: 99px;
}

.compare .container {
    justify-content: normal;
}

.compare li {
    margin-bottom: 16px;
}

@media (max-width: 1024px) {
    .compare li {
        margin-bottom: 14px;
    }
}

.compare ul {
    width: 270px;
    padding-top: 66px;
    padding-bottom: 14px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    background: #FAFAFA;
}

@media (max-width: 2014px) {
 .compare ul {
     width: 225px;
 }
}

.compare ul:first-of-type {
    width: 300px;
    padding-left: 24px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
}

@media (max-width: 1024px) {
    .compare ul:first-of-type {
        font-size: 16px;
        height: 272px;
    }
}

.compare ul:nth-child(6) {
    position: relative;
    width: 330px;
    height: 347px;
    padding: 24px;
    padding-top: 87px;
    font-size: 24px;
    line-height: 18px;
    background: #ffffff;
    box-shadow: 0px 2px 30px rgba(114, 114, 114, 0.1);
}

@media (max-width: 1024px) {
    .compare ul:nth-child(6) {
        width: 310px;
        height: 320px;
        padding: 0px;
        padding-top: 80px;
        font-size: 18px;
    }
}

.compare ul:nth-child(6):before {
    content: "";
    position: absolute;
    top: 10px;
    right: 24px;
    width: 70px;
    height: 50px;
    background: linear-gradient(90.07deg, #FF0500 3.25%, #E20400 100%);
    transform: rotate(-90deg);
}

.compare ul:nth-child(6):after {
    content: "";
    position: absolute;
    top: 21px;
    right: 34px;
    width: 13px;
    height: 3px;
    border: 25px solid transparent;
    border-bottom-color: white;
}

.compare ul:nth-child(6) li {
    padding: 0;
    margin-bottom: 24px;
}

@media (max-width: 1024px) {
    .compare ul:nth-child(6) li {
        margin-bottom: 18px;
    }
}

.compare__link {
    width: 270px;
    position: absolute;
    top: 32px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

@media (max-width: 1024px) {
    .compare__link {
        width: 225px;
    }
}

.compare__link--p {
    top: 55px;
    left: 300px;
}

.compare__link--g {
    width: 266px;
    left: 601px;
    font-size: 24px;
    line-height: 23px;
    z-index: 1;
}

.compare__link--o {
    top: 55px;
    left: 900px;
}

@media (max-width: 1024px) {
    .compare__link--p {
        left: 247px;
    }

    .compare__link--g {
        left: 452px;
    }

    .compare__link--o {
        left: 705px;
    }
}

/* Video */

.video-about {
    text-align: center;
    margin-bottom: 112px;
}

.video-about .container {
    margin-bottom: 64px;
}

.video-about .card__button {
    display: block;
}

.video-about .card__button--wrapper {
    display: block;
    margin: 0 auto;
    transition: all .25s cubic-bezier(.02, .01, .47, 1);
}

.video-about .card__button--wrapper:focus,
.video-about .card__button--wrapper:hover {
    -webkit-transform: translate(0, -6px);
    transform: translate(0, -6px);
}

.video-left {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 470px;
    background: #250404;
    margin-right: 30px;
}
@media (max-width: 1024px) {
    .video-left {
        display: none;
    }
}

.video__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video-right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.video-right p {
    display: inline-block;

    position: relative;
    width: 270px;
    height: 0;
    padding-bottom: 220px;
    background: #250404;
}
@media (max-width: 1024px) {
    .video-right p:last-child {
        display: none;
    }
}

.video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    height: 90px;
    border: none;
    margin-top: -45px;
    margin-left: -45px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    color: #DA1713;
    box-shadow: 0px 2px 10px rgba(70, 59, 59, 0.09);
}

/* Reviews */

.reviews {
    margin-bottom: 112px;
}

.reviews__item {
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
}

.reviews__wrapper {
    position: relative;
    width: 570px;
    padding-top: 51px;
}
@media (max-width: 1024px) {
    .reviews__wrapper {
        margin-right: 20px;
    }
}

.reviews__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 370px;
    height: 77px;
    background-image: url("../img/MEDVED.svg");
    z-index: -1;
}

.reviews__title {
    width: 350px;
    font-family: Ponter;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;
}

.reviews__cite {
    display: block;
    margin-left: auto;
    width: 154px;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
}

.reviews__text {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 21px;
}

@media (max-width: 1024px) {
    .reviews__text {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 16px;
    }
}

.reviews__button {
    color: #ffffff;
}

.reviews__image:first-of-type {
    display: none;
}

/* Features */

.features {
    text-align: center;
    margin-bottom: 112px;
}

.features .container:before {
    content: "";
    position: absolute;
    top: -111px;
    left: -130px;
    width: 255px;
    height: 255px;
    background-image: url("../img/garlicFeatures.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1280px) {
    .features .container:before {
        top: -65px;
        left: -75px;
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 1024px) {
    .features .container:before {
        display: none;
    }
}

.features .container:after {
    content: "";
    position: absolute;
    bottom: -70px;
    right: -149px;
    width: 255px;
    height: 316px;
    background-image: url("../img/garlicFeaturesBottom.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

@media (max-width: 1440px) {
    .features .container:after {
        right: -125px;
    }
}

@media (max-width: 1280px) {
    .features .container:after {
        bottom: -9px;
        right: -67px;
        width: 135px;
        height: 166px;
    }
}

@media (max-width: 1024px) {
    .features .container:after {
        display: none;
    }
}

.features__item {
    filter: drop-shadow(0px 2px 15px rgba(114, 114, 114, 0.1));
}
@media (max-width: 1024px) {
    .features__item {
        filter: none;
    }
}

.features__card {
    width: 270px;
    height: 312px;
    padding-top: 24px;
    text-align: center;
    background-color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0 80%);
}

@media (max-width: 1024px) {
    .features__card {
        width: 226px;
        background-color: transparent;
        clip-path: none;
    }
}

.features__icon {
    margin: 0 auto;
    width: 90px;
    height: 90px;
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(70, 59, 59, 0.09);
    border-radius: 50%;
    margin-bottom: 24px;
}

.features__icon svg {
    position: relative;
    top: 50%;
    margin-top: -13px;
}

.features__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 16px;
}

.features__subtitle {
    margin: 0 auto;
    width: 218px;
    font-size: 14px;
    line-height: 13px;
    color: #9E9E9E;
    margin-bottom: 72px;
}

/* Carousel */

.carousel {
    margin-bottom: 117px;
}

.carousel__button {
    padding: 20px 18px;
    width: 50px;
    height: 50px;
    color: #DA1713;
    line-height: 1;
    border: none;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(70, 59, 59, 0.09);
}

/* Footer */

footer {
    color: #666666;
    height: 351px;
    background: url("../img/footerBg.jpg");
    padding-top: 264px;
}

footer .container {
    justify-content: normal;
    align-items: flex-start;
}

.footer__link--logo {
    width: 129px;
    margin-right: 71px;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: -0.08em;
    text-transform: uppercase;

}

footer ul {
    display: flex;
    flex-flow: column wrap;
    height: 83px;
}

footer li {
    margin-bottom: 16px;
    margin-right: 114px;
}

footer li:nth-child(3n) {
    margin-bottom: 0;
}

.footer__address {
    width: 167px;
    margin-left: auto;
}

.footer__address .footer__link {
    display: block;
}

.footer__address .footer__link:first-child {
    margin-bottom: 16px;
}

/* Map */
.popup-map {
    display: none;
    margin: 0;
}

.popup-map--active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 4, 4, 0.5);
    display: block;
    z-index: 5;
}

.popup-map__item {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -280px;
    margin-top: -200px;
}

.popup-map__item iframe {
    border: none;
}

