/* Fonts */

@font-face {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../font/GothamPro.woff) format("woff");
}

@font-face {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../font/GothamPro-Bold.woff) format("woff");
}

@font-face {
    font-family: Ponter;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../font/ponter.ttf) format("truetype");
}

/* Global */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 0;
    max-width: 1920px;
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.12em;
    color: #250404;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    border: 0;

    clip: rect(0 0 0 0);
}

.button {
    display: inline-block;
    width: 270px;
    height: 48px;
    padding: 17px 70px 17px;
    font: inherit;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(90.07deg, #FF0500 3.25%, #E20400 100%);
    -webkit-box-shadow: 0 9px 30px rgba(255, 0, 31, 0.2);
    box-shadow: 0 9px 30px rgba(255, 0, 31, 0.2);
    -webkit-clip-path: polygon(7% 0, 100% 0, 100% 65%, 93% 100%, 0 100%, 0 35%);
    clip-path: polygon(7% 0, 100% 0, 100% 65%, 93% 100%, 0 100%, 0 35%);
    -webkit-transition: all .25s cubic-bezier(.02, .01, .47, 1);
    transition: all .25s cubic-bezier(.02, .01, .47, 1);
}

.button:focus,
.button:hover {
    -webkit-transform: translate(0, -6px);
    transform: translate(0, -6px);
}

/* Page-header */

header {
    font-size: 14px;
    line-height: 13px;
}

.page-header__top {
    position: relative;
    padding: 7px 0;
    background: linear-gradient(90.07deg, #FF0500 3.25%, #E20400 100%);
    height: 76px;
}

.page-header__top::after {
    position: absolute;
    top: 7px;
    content: "";
    width: 100%;
    height: 100%;
    max-height: 62px;
    background-image: url("../img/print.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.page-header__list {
    position: relative;
    width: 1169px;
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    z-index: 2;
}

.page-header__link--tel {
    margin-right: 354px;
}

.page-header__item {
    font-weight: bold;
}

.page-header__logo-text {
    width: 129px;
    font-size: 11px;
    line-height: 11px;
    font-weight: normal;
    text-align: center;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}

.page-header__item--map {
    margin-left: auto;
}

.page-header__link--phone {
    display: none;
}

.page-header__item--button {
    display: none;
}

.nav-site {
    height: 49px;
}

.nav-site__list {
    width: 1169px;
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-site__icon {
    margin-right: 3px;
    vertical-align: text-bottom;
}

.nav-site__link {
    line-height: 13px;
    vertical-align: text-bottom;
}

.page-header__top a:focus,
.page-header__top a:hover {
    opacity: 0.7;
}

.nav-site__item {
    height: 100%;
    padding: 17px 0 17px;
}

.nav-site__item:focus,
.nav-site__item:hover {
    color: #ffffff;
    background-color: #6b6b6b;

}

/* Section-main */

.section-main {
    background-image: url("../img/bgDesk.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 535px;
}

.section-main__overlay {
    width: 100%;
    height: 100%;
    padding-top: 132px;
    padding-left: 374px;
    background: linear-gradient(122.52deg, rgba(99, 61, 38, 0.14) -1.29%, rgba(99, 61, 38, 0.6) 97.1%);
    color: #ffffff;
}

.section-main__title {
    width: 650px;
    margin-bottom: 8px;
    font-family: Ponter, sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
}

.section-main__subtitle {
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 17px;
}

/* Products */

.products {
    padding: 112px 0;
    text-align: center;
}

.products__title {
    width: 770px;
    margin: 0 auto 61px;
    font-family: Ponter, sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

.products__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1170px;
    height: 772px;
    margin: 0 auto 36px;
}


.products__wrapper::before {
    position: absolute;
    left: -162px;
    bottom: -43px;
    content: "";
    width: 255px;
    height: 316px;
    background: url("../img/garlicBottom.png");
}

.products__wrapper::after {
    position: absolute;
    top: -70px;
    right: -70px;
    content: "";
    width: 119px;
    height: 119px;
    background: url(../img/garlicTop.png) 0 0;
    background-size: cover;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

.card {
    position: relative;
    width: 270px;
    margin-right: 30px;
    margin-bottom: 30px;
    -webkit-filter: drop-shadow(0px 2px 30px rgba(114, 114, 114, 0.1));
    filter: drop-shadow(0px 2px 20px rgba(114, 114, 114, 0.1));
    -webkit-transition: all .25s cubic-bezier(.02, .01, .47, 1);
    transition: all .25s cubic-bezier(.02, .01, .47, 1);
}

.card__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 19px 16px;
    background: #ffffff;
    -webkit-clip-path: polygon(11% 0, 100% 0, 100% 85%, 82% 100%, 0 100%, 0 9%);
    clip-path: polygon(11% 0, 100% 0, 100% 85%, 82% 100%, 0 100%, 0 9%);
}

.card__item:focus,
.card__item:hover {
    -webkit-clip-path: polygon(11% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 9%);
    clip-path: polygon(11% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 9%);
}

.card:focus,
.card:hover {
    margin-bottom: 0;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}

.card:nth-child(4n) {
    margin-right: 0;
}

.card__item img {
    margin-bottom: 8px;
}

.card__descr {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 23px;
    font-weight: normal;
    text-align: center;
}

.card__price {
    display: block;
    text-align: left;
}

.card__price--new {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
    color: #DA1713;
}

.card__price--old {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 13px;
    text-decoration: line-through;
}

.card__button {
    display: none;
    width: 222px;
    height: 38px;
    margin: 0 auto;
    padding: 13px 24px 12px 25px;
    font-size: 14px;
    line-height: 13px;
    font-weight: normal;
    color: #DA1713;
    border: none;
    background: url("../img/button.svg") no-repeat;
    text-shadow: 0 9px 35px rgba(255, 0, 31, 0.5);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-clip-path: none;
    clip-path: none;
}

.card__button--active {
    display: block;
}

.products__button {
    margin: 0 auto;
    color: #ffffff;
}

.card__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.products__button--mobile {
    display: none;
}

/* Map */
.popup-map {
    display: none;
}

.popup-map--active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 4, 4, 0.5);
    display: block;
    z-index: 5;
}

.popup-map__item {
    position: fixed;
    top:50%;
    left:50%;
    margin-left: -280px;
}

.popup-map__item iframe {
    border: none;
}

/* Media */

@media (max-width: 1440px) {

    .section-main__overlay {
        padding-left: 200px;
    }

    .products {
        overflow: hidden;
    }
}

@media (max-width: 1024px) {

    .section-main {
        height: 286px;
        background: url("../img/bgDeskSM.jpg") no-repeat;
    }

    .section-main__overlay {
        padding-top: 70px;
        padding-left: 100px;
    }

    header {
        font-size: 14px;
    }

    .page-header__item--map {
        width: 111px;
    }

    .tel {
        margin-right: 260px;
    }

    .page-header__list,
    .nav-site__list,
    .products__wrapper {
        width: 900px;
    }

    .products__wrapper {
        height: 1150px;
    }

    .products__wrapper::before {
        left: -95px;
    }

    .products {
        padding-top: 85px;
    }

    .section-main__title {
        width: 510px;
        font-size: 38px;
        line-height: 44px;
        margin-bottom: 0;
    }

    .products__title {
        font-size: 38px;
        line-height: 42px;
    }

    .products__wrapper::after {
        right: -40px;
    }

    .card:nth-child(4n) {
        margin-right: 30px;
    }

    .card:nth-child(3n) {
        margin-right: 0;
    }

    .card:nth-child(7) {
        margin-left: auto;
    }

    .card:nth-child(8) {
        margin-right: auto;
    }
}

@media (max-width: 768px) {

    header {
        overflow: hidden;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    main {
        overflow: hidden;
    }

    .page-header__item--map {
        display: none;
    }

    .page-header__link--phone {
        display: block;
    }

    .page-header__item--button {
        display: block;
    }

    .page-header__button {
        border: none;
        background: transparent;
        cursor: pointer;
        outline: none;
    }

    .deactive {
        display: none;
    }

    .page-header__list {
        max-width: 675px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .page-header__link--tel {
        font-size: 0;
        line-height: 0;
        margin-right: 0px;
    }

    .page-header__link--phone {
        display: block;
    }

    .menu-close {
        display: none;
    }

    .nav-site {
        position: relative;
        top: 0;
        width: 100%;
        height: 200vh;
        background: rgba(37, 4, 4, 0.5);
        z-index: 3;
    }

    .nav-site__icon {
        display: none;
    }

    .nav-site__list {
        position: absolute;
        top: 0;
        width: 100%;
        height: 286px;
        background-color: #ffffff;
        display: block;
        padding: 32px 16px;
        text-align: center;
        z-index: 4;
    }

    .nav-site__item {
        margin-bottom: 24px;
        font-size: 18px;
        line-height: 17px;
    }

    .nav-site__item:focus,
    .nav-site__item:hover {
        color: inherit;
        background-color: transparent;
        padding: 0;
    }

    .nav-site__item:last-of-type {
        margin-bottom: 0;
    }

    .products {
        overflow: visible;
        padding: 70px 0;
    }

    .products__wrapper {
        width: 708px;
        height: auto;
    }

    .products__wrapper::before,
    .products__wrapper::after {
        display: none;
    }

    .card {
        width: 162px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .card__item {
        position: relative;
        padding: 19px 16px;
        background: #ffffff;
    }

    .card:nth-child(3n) {
        margin-right: 20px;
    }

    .card:nth-child(7) {
        margin-left: 0;
    }

    .card:nth-child(4n) {
        margin-right: 0;
    }


    .card__descr {
        font-size: 14px;
        line-height: 13px;
    }

    .card__price--new {
        font-size: 18px;
        line-height: 17px;
    }

    .card__price--old {
        font-size: 14px;
        line-height: 13px;
    }

    .products__button {
        display: none;
    }

    .card__button {
        display: none;
    }

    .products__button--mobile {
        display: block;
        margin: auto;
        width: 270px;
        height: 48px;
        padding: 18px 86px 17px;
        font-size: 14px;
        line-height: 13px;
        font-weight: normal;
        color: #DA1713;
        background: url("../img/buttonMobile.svg") no-repeat;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-clip-path: none;
        clip-path: none;
    }
}

@media (max-width: 425px) {

    .page-header__top {
        height: 60px;
    }

    .page-header__list {
        width: 393px;
    }

    .section-main {
        background: url("../img/bgMobile.jpg") no-repeat;
        background-size: cover;
    }

    .section-main__overlay {
        padding: 64px 16px;
    }

    .section-main__title {
        width: 340px;
        font-size: 28px;
        line-height: 31px;
        margin-bottom: 0;
    }

    .section-main__subtitle {
        font-size: 14px;
        line-height: 13px;
        margin-bottom: 8px;
    }

    .products__wrapper {
        width: 364px;
    }

    .card:nth-child(2n) {
        margin-right: 0;
    }

    .card:nth-child(n+5) {
        display: none;
    }

    .products__title {
        font-size: 28px;
        line-height: 110%;
        width: 343px;
        margin-bottom: 28px;
    }

    .popup-map__item {
        margin-left: -150px;
    }

    .popup-map__item iframe {
        width: 300px;
        height: auto;
    }
}

@media (max-width: 375px) {
    .page-header__list {
        width: 346px;
    }

    .section-main__overlay {
        padding: 64px 50px;
    }

    .products__wrapper {
        width: 344px;
        margin-bottom: 32px;
    }

    .section-main__button {
        width: 170px;
        height: 38px;
        font-size: 14px;
        font-weight: normal;
        line-height: 13px;
        padding: 13px 24px;
    }
}

@media (max-width: 320px) {
    .page-header__list {
        width: 300px;
    }

    .section-main__title {
        width: 300px;
        font-size: 24px;
    }

    .section-main__subtitle {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 8px;
    }

    .products__title {
        font-size: 24px;
        width: 295px;
    }

    .products__wrapper {
        display: block;
        width: 280px;
    }

    .card {
        margin-right: 0;
    }
}