/* Fonts */

@font-face {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../font/GothamPro.woff) format("woff");
}

@font-face {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../font/GothamPro-Bold.woff) format("woff");
}

@font-face {
    font-family: Ponter;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../font/ponter.ttf) format("truetype");
}

/* Global */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 0;
    max-width: 1920px;
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.12em;
    color: #250404;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    border: 0;

    clip: rect(0 0 0 0);
}

.button {
    display: block;
    width: 270px;
    height: 48px;
    padding: 18px 70px 17px;
    font: inherit;
    text-align: center;
    background: linear-gradient(90.07deg, #FF0500 3.25%, #E20400 100%);
    -webkit-box-shadow: 0 9px 30px rgba(255, 0, 31, 0.2);
    box-shadow: 0 9px 30px rgba(255, 0, 31, 0.2);
    -webkit-clip-path: polygon(7% 0, 100% 0, 100% 65%, 93% 100%, 0 100%, 0 35%);
    clip-path: polygon(7% 0, 100% 0, 100% 65%, 93% 100%, 0 100%, 0 35%);
    -webkit-transition: all .25s cubic-bezier(.02, .01, .47, 1);
    transition: all .25s cubic-bezier(.02, .01, .47, 1);
}

.button:focus,
.button:hover {
    -webkit-transform: translate(0, -6px);
    transform: translate(0, -6px);
}

/* Page-header */

.page-header {
    font-size: 14px;
    line-height: 13px;
}

.page-header__top {
    padding: 7px 0;
    background: linear-gradient(90.07deg, #FF0500 3.25%, #E20400 100%);
    height: 76px;
}

.page-header::after {
    position: absolute;
    top: 0;
    content: "";
    width: 100%;
    max-height: 62px;
    background-image: url("../img/print.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.page-header__list {
    width: 1169px;
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
}

.page-header__logo-text {
    margin-top: 4px;
    display: block;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}

.page-header__link--img {
    display: none;
}

.page-header__item--button {
    display: none;
}

.nav-site {
    height: 49px;
}

.nav-site__list {
    width: 1169px;
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-site__link {
    position: relative;
    padding-left: 24px;
    line-height: 13px;
}

.nav-site__link--catalog::before {
    position: absolute;
    content: "";
    top: -3px;
    background: url("../img/catalog.svg");
    width: 16px;
    height: 16px;
    margin-left: -24px;
}

.nav-site__link--price::before {
    position: absolute;
    content: "";
    top: -3px;
    background: url("../img/price.svg");
    width: 16px;
    height: 16px;
    margin-left: -24px;
}

.nav-site__link--pay::before {
    position: absolute;
    content: "";
    top: -3px;
    background: url("../img/pay.svg");
    width: 20px;
    height: 16px;
    margin-left: -24px;
}

.nav-site__link--faq::before {
    position: absolute;
    content: "";
    top: -3px;
    background: url("../img/faq.svg");
    width: 20px;
    height: 16px;
    margin-left: -24px;
}

.nav-site__link--about::before {
    position: absolute;
    content: "";
    top: -3px;
    background: url("../img/about.svg");
    width: 16px;
    height: 16px;
    margin-left: -24px;
}

.nav-site__link--contacts::before {
    position: absolute;
    content: "";
    top: -3px;
    background: url("../img/contacts.svg");
    width: 12px;
    height: 16px;
    margin-left: -24px;
}

.page-header a:focus,
.page-header a:hover {
    opacity: 0.7;
}

/* Section-main */

.section-main {
    background-image: url("../img/bgDesk.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 535px;
}

.section-main__overlay {
    width: 100%;
    height: 100%;
    padding-top: 132px;
    padding-left: 374px;
    background: linear-gradient(122.52deg, rgba(99, 61, 38, 0.14) -1.29%, rgba(99, 61, 38, 0.6) 97.1%);
    color: #ffffff;
}

.section-main__title {
    width: 650px;
    margin-bottom: 8px;
    font-family: Ponter, sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
}

.section-main__subtitle {
    margin-bottom: 16px;
}

/* Products */

.products {
    padding: 112px 0;
}

.products__title {
    width: 770px;
    margin: 0 auto 61px;
    font-family: Ponter, sans-serif;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

.products__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1170px;
    margin: 0 auto 28px;
}


.products__wrapper::before {
    position: absolute;
    left: -182px;
    bottom: -82px;
    content: "";
    width: 255px;
    height: 316px;
    background: url("../img/garlicBottom.png");
}

.products__wrapper::after {
    position: absolute;
    top: -70px;
    right: -70px;
    content: "";
    width: 119px;
    height: 119px;
    background: url(../img/garlicTop.png) 0 0;
    background-size: cover;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}


.products__card {
    position: relative;
    width: 270px;
    padding: 19px 16px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #ffffff;
    -webkit-box-shadow: 0 2px 30px rgba(114, 114, 114, 0.1);
    box-shadow: 0 2px 30px rgba(114, 114, 114, 0.1);
    -webkit-transition: all .25s cubic-bezier(.02, .01, .47, 1);
    transition: all .25s cubic-bezier(.02, .01, .47, 1);
}

.products__card:focus,
.products__card:hover {
    -webkit-transform: translate(0, -6px);
    transform: translate(0, -6px);
}

.products__card:nth-child(4n) {
    margin-right: 0;
}

.card__descr {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
}

.card__price--new {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
    color: #DA1713;
}

.card__price--old {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 13px;
    text-decoration: line-through;
}

.card__button {
    display: none;
    width: 222px;
    height: 38px;
    margin: 0 auto;
    padding: 13px 24px 12px 25px;
    font-size: 14px;
    line-height: 13px;
    color: #DA1713;
    background: url("../img/button.svg") no-repeat;
    text-shadow: 0 9px 35px rgba(255, 0, 31, 0.5);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-clip-path: none;
    clip-path: none;
}

.card--active {
    display: block;
}

.products__button {
    margin: 0 auto;
    color: #ffffff;
}

.products__button--mobile {
    display: none;
}

/* Media */

@media (max-width: 1440px) {

    .products {
        overflow: hidden;
    }

    .section-main__overlay {
        padding-left: 200px;
    }
}

@media (max-width: 1024px) {

    .section-main {
        height: 286px;
        background: url("../img/bgDeskSM.jpg") no-repeat;
    }

    .section-main__overlay {
        padding-top: 75px;
        padding-left: 100px;
    }

    .page-header {
        font-size: 14px;
    }

    .page-header__item--map {
        width: 111px;
    }

    .page-header__list,
    .nav-site__list,
    .products__wrapper {
        width: 900px;
    }

    .section-main__title {
        width: 550px;
        font-size: 40px;
    }

    .products__title {
        font-size: 38px;
        line-height: 42px;
    }

    .products__wrapper::after {
        right: -40px;
    }

    .products__card:nth-child(4n) {
        margin-right: 30px;
    }
}

@media (max-width: 768px) {

    .page-header {
        overflow: hidden;
    }

    .page-header__item--map {
        display: none;
    }

    .page-header__item--button {
        display: block;
    }

    .page-header__button {
        background: url("../img/burger.svg") no-repeat 0 0;
        width: 28px;
        height: 26px;
        border: none;
        cursor: pointer;
        outline: none;
    }

    .page-header__button.page-header__button--active {
        background: url("../img/cross.svg") no-repeat 0 0;
        width: 18px;
        height: 18px;
    }

    .page-header__link--tel {
        display: none;
    }

    .page-header__link--img {
        display: block;
        background-image: url("../img/phone.svg");
        width: 28px;
        height: 28px;
    }

    .menu-close {
        display: none;
    }

    .nav-site {
        position: absolute;
        width: 100%;
        height: 200vh;
        background: rgba(37, 4, 4, 0.5);
        z-index: 1;
    }

    .nav-site__list {
        position: absolute;
        top: 0;
        width: 100%;
        height: 286px;
        background-color: #ffffff;
        display: block;
        padding: 32px 16px;
        text-align: center;
        z-index: 2;
    }

    .nav-site__link--catalog::before,
    .nav-site__link--price::before,
    .nav-site__link--pay::before,
    .nav-site__link--faq::before,
    .nav-site__link--about::before,
    .nav-site__link--contacts::before {
        display: none;
    }

    .nav-site__item {
        margin-bottom: 24px;
        font-size: 18px;
        line-height: 17px;
    }

    .nav-site__item:last-of-type {
        margin-bottom: 0;
    }

    .page-header__list {
        max-width: 600px;
    }

    .products {
        overflow: visible;
    }

    .products__wrapper {
        width: 354px;
    }

    .products__wrapper::before,
    .products__wrapper::after {
        display: none;
    }

    .products__card {
        margin-right: 20px;
    }

    .products__card:nth-child(2n) {
        margin-right: 0;
    }

    .products__card:nth-child(n+5) {
        display: none;
    }

    .card {
        width: 162px;
    }

    .card__descr {
        font-size: 14px;
        line-height: 13px;
    }

    .card__price--new {
        font-size: 18px;
        line-height: 17px;
    }

    .card__price--old {
        font-size: 14px;
        line-height: 13px;
    }

    .products {
        padding: 70px 0;
    }

    .products__button {
        display: none;
    }

    .card__button {
        display: none;
    }

    .products__button--mobile {
        display: block;
        margin: auto;
        width: 270px;
        height: 48px;
        padding: 18px 86px 17px;
        font-size: 14px;
        line-height: 13px;
        color: #DA1713;
        background: url("../img/buttonMobile.svg") no-repeat;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-clip-path: none;
        clip-path: none;
    }
}

@media (max-width: 425px) {

    .page-header__top {
        height: 60px;
    }

    .page-header__list {
        width: 320px;
    }

    .section-main {
        background: url("../img/bgMobile.jpg") no-repeat;
        background-size: cover;
    }

    .section-main__overlay {
        padding: 64px 16px;
    }

    .section-main__title {
        width: 340px;
        font-size: 28px;
        line-height: 31px;
        margin-bottom: 0;
    }

    .section-main__subtitle {
        font-size: 14px;
        line-height: 13px;
        margin-bottom: 8px;
    }

    .products__title {
        font-size: 28px;
        line-height: 110%;
        width: 343px;
        margin-bottom: 28px;
    }
}

@media (max-width: 320px) {
    .page-header__list {
        width: 300px;
    }

    .section-main__overlay {
        padding: 64px 16px;
    }

    .section-main__title {
        width: 300px;
        font-size: 24px;

    }

    .section-main__subtitle {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 8px;
    }

    .products__title {
        font-size: 24px;
        width: 295px;
    }

    .products__wrapper {
        display: block;
        width: 280px;
    }

    .card {
        margin-right: 0;
    }
}